<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Faker" version="1.2" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="Should" version="1.1.20" targetFramework="net45" />
  <package id="TestDataGenerator" version="0.0.7" targetFramework="net45" />
</packages>